
@font-face {
    /*
    This is a custom font commisioned specifically for the website. Therefore, the font is stored with the website inside the 'fonts' folder
    */
    font-family: 'ClearWater';
    src: local('ClearWater'),
        url('fonts/ClearWater.woff') format('woff'),
        url('fonts/ClearWater.eot') format('eot'),
        url('fonts/ClearWater.ttf') format('truetype');
}

html{
    background: url('/images/Ocean.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: 'ClearWater', Georgia, serif;
}
body{
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}
.header{
    display: flex;
    height: 5vh;
    margin-bottom: 1vh;

}
.logo{
    position: absolute;
    top: 2vw;
    left: 2vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.37);
    box-sizing: border-box;
    transition: box-shadow 0.15s, background-color 0.15s;
}
.logo:hover{  
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(12, 12, 12, 0.144);
}
.top-text{  
    font-size: 6vw;
    text-align: center; 
    text-shadow: 0 3px rgba(8, 123, 255, 0.4);
    color: white;
}
.bot-text{
    font-size: 6vw;
    text-align: center;
    color: rgb(24, 21, 21);
    text-shadow: 0 3px rgba(24, 132, 255, 0.986);
}
#hamburger-menu{
    height: 8vw;
    position: absolute;
    right: 5vw;
    top: 5vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}
.content-container{
    display: flex;
    max-height: 60vh;
    width: 90vw;
    background-color: aliceblue;
    position:relative;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 0.5;
}
.bar{
    width: 70%;
    aspect-ratio: 1/1;
    background-color: rgb(0, 0, 20);
}
