@font-face{
    font-family: "cwp_font";
    src: "/home/jordan/cw_painting/cwp_assets";
}

body{
    font-family: "cwp_font";
    background-color: lightcyan;
    background-image: "/home/jordan/cw_painting/cwp_assets/cwp_logo.jpeg";
}